<div class="forgot-container">
    <div class="forgot-card-wrapper">
        <mat-card class="forgot-card">
            <mat-card-content>
                <div class="forgot-header">
                    <div class="icon-wrapper">
                        <mat-icon class="forgot-icon">lock_reset</mat-icon>
                    </div>
                    <h2 class="title">Forgot Password?</h2>
                    <p class="subtitle">
                        No worries! Enter your email address and we'll send you a verification code to reset your
                        password.
                    </p>
                </div>

                <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()" class="forgot-form">
                    <div class="email-input">
                        <mat-form-field appearance="outline">
                            <mat-label>Email Address</mat-label>
                            <input matInput type="email" formControlName="email" placeholder="Enter your email"
                                autocomplete="email" />
                            <mat-icon matPrefix>email</mat-icon>
                            @if (forgotPasswordForm.get('email')?.invalid && forgotPasswordForm.get('email')?.touched) {
                            <mat-error>{{ getEmailErrorMessage() }}</mat-error>
                            }
                        </mat-form-field>
                    </div>

                    <button mat-raised-button type="submit" class="submit-button"
                        [disabled]="forgotPasswordForm.invalid || isLoading()">
                        @if (isLoading()) {
                        <ng-container>
                            <mat-spinner diameter="20"></mat-spinner>
                            <span>Sending Code...</span>
                        </ng-container>
                        } @else {
                        <ng-container>
                            <mat-icon>send</mat-icon>
                            <span>Send Verification Code</span>
                        </ng-container>
                        }
                    </button>
                </form>

                <div class="back-link">
                    <a routerLink="/auth/login">
                        <mat-icon>arrow_back</mat-icon>
                        <span>Back to Login</span>
                    </a>
                </div>

                <div class="help-text">
                    <mat-icon>info</mat-icon>
                    <span>The verification code will be valid for 15 minutes</span>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>